:host {
  display: block;
  --transition-speed: 500ms;
  --max-width: 100%;
  --slide-width: calc(100 / 3 * .95%);
}

:host([hidden]) {
  display: none;
}

:host([autoplay-mode=crawl]) {
  --cursor: pointer;
  --transition-speed: 6000ms;
}

.slider {
  max-width: var(--max-width);
  overflow: hidden;
  margin: 0 auto;
  touch-action: none;
  display: flex;
  align-items: center;
  position: relative;

  &:hover {
    cursor: var(--cursor, grab);
  }

  &__slides {
    display: flex;
    position: relative;
    left: calc(var(--slide-width) * -1);

    &.slide-image {
      transition: transform var(--transition-speed) var(--easing, linear);
    }

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: var(--slide-width);
    }
  }

  &__slide {
    flex: 1 0 var(--slide-width);
    padding-right: .5rem;
    box-sizing: border-box;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__controls {
    display: flex;
    position: absolute;
    justify-content: space-between;
    width: 100%;
  }

  &__button {
    background: steelblue;
    border: 1px solid steelblue;
    padding: .5rem .625rem;
    color: #fff;
    font-size: 1rem;
    transition: all 0.25s ease;
    position: absolute;

    &.left {
      left: 5px;
    }

    &.right {
      right: 5px;
    }

    &:hover {
      color: steelblue;
      background: white;
      border: 1px solid steelblue;
    }
  }
}


